.header2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url(../img/background.jpeg);
    height: 30vh;
}

.main-text2 {
    position: absolute;
    width: 1200px;
    top: 15%;
    left: 20%;
}